* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #d9d9d9;
}

.menu-link {
    padding: 5px 15px;
    margin: 5px 15px;
    background-color: #f7f8f8;
    display: inline-block;
    border: 1px solid #979797;
}

.menu-link a {
    color: black;
    text-decoration: none;
}

.current-location {
    background-color: #f2f3f2;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
}

.current-weather {
    margin: 6px;
    float: left;
}

.current-location p {
    display: inline-block;
    margin: 5px;
}

#search-field {
    width: 300px;
    height: 26px;
    margin: 5px;
}


.weather-container {
    text-align: center;
    width: 977px;
    margin: 0px auto;
    border-collapse: collapse;
}

.five-days-weather {
    text-align: center;
    border-collapse: collapse;
}

.day-weather {
    border: #979797 solid 1px;
    display: table-cell;
}

.day-name {
    border-bottom: #979797 solid 1px;
    padding: 10px;    
}
.part-day-weather {
    display: inline-block;    
    width: 45px;
}

.part-day-name {
    padding: 5px 0;
    text-align: center;
}

.temperature {
    margin: 20px 4px;
    background-color: #baeb87;
    border: 1px solid #979797;
}

.additional-weather-parameter {
    background-color: #d9d9d9;
    padding: 10px; 
}

.item {
    width: 45px;
    display: inline-block; 
}

.day-wind,
.day-precepitation {
    display: table-cell;
    border: 1px solid #979797;
    
}

.day-wind .item {
    background-color: #d9d9d9;
    margin: 10px 0;
}

.day-precepitation .item .middle {
    background-image:url("../assets/Group.png");
    background-position: bottom;
    background-repeat: no-repeat;
    padding-top: 90px;
}

.day-precepitation .item .high {
    background-image:url("../assets/Group_2.png");
    background-position: bottom;
    background-repeat: no-repeat;
    padding-top: 90px;
}

footer {
    background-color: #d7d7d7;
    text-align: center;
    border: 1px solid #979797;
}

footer p {
    margin: 10px;
}