
figure {
    display: inline-block;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 1040px;
    margin: 0px auto;
    border: 2px solid #979797;
    
}

nav {
    background-color: #d9d9d9;
    text-align: left;
    -webkit-margin-collapse: collapse;
}

.menu-link {
    padding: 5px 15px;
    margin: 5px 15px;
    background-color: #f7f8f8;
    display: inline-block;
    border: 1px solid #979797;
    
}

.menu-link a {
    color: black;
    text-decoration: none;
}

.selected {
    background-color: #9c9c9c;
}

.location {
    background-color: #f2f3f2;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    margin-bottom: 20px;
    text-align: right;
}

.current-location {
    display: inline-block;
    float: left;
}

.current-location p {
    display: inline-block;
    margin: 5px;
}

#search-field {
    width: 300px;
    height: 26px;
    margin: 5px;
}


.arrow {
    display: inline-block;
}

.weather-container {
   /* width: 977px;*/
    margin: 0px auto;
    border-collapse: collapse;
    border: 1px solid #979797;
    display: inline-block;
}

.five-days-weather {
    border-collapse: collapse;
}

.day-weather {
    border: #979797 solid 1px;
    display: table-cell;
}

.day-name {
    border-bottom: #979797 solid 1px;
    padding: 10px; 
}
.part-day-weather {
    display: inline-block;    
    width: 45px;
}

.part-day-name {
    padding: 5px 0;
    
}

.temperature {
    margin: 20px 4px;
    border: 1px solid #979797;
}

.normal {
    background-color:#baeb87;
}
.warm {
    background-color: #f7e638;
}
.hot {
    background-color: #f3a633;
}

.additional-weather-parameter {
    background-color: #d9d9d9;
    padding: 10px; 
}

.item {
    width: 45px;
    display: inline-block; 
    font-size: 0.95em;
}

.day-wind,
.day-precepitation {
    display: table-cell;
    border: 1px solid #979797;
    
}

.day-wind .item {
    background-color: #d9d9d9;
    margin: 10px 0;
    width: 30px;
    transform: skewX(-40deg) ;
}

.day-wind .item p {
    transform: skewX(40deg);
}

.day-precepitation .item .middle {
    background-image:url("../assets/Group.png");
    background-position: bottom;
    background-repeat: no-repeat;
    padding-top: 90px;
}

.day-precepitation .item .high {
    background-image:url("../assets/Group_2.png");
    background-position: bottom;
    background-repeat: no-repeat;
    padding-top: 90px;
}

.moon-calendar-header {
    background-color: #f1f1f1;
    border: 1px solid #979797;
    width: 977px;
    margin: 15px auto;
    height: 40px;
}

.moon-calendar-header p {
    display: inline-block;
    padding: 11px;
}

.today {
    float: left;
}
.moon-calendar-component {
    width: 49%;
    display: inline-block;
}

.moon-calendar-component figure {
    display: inline-block;
    margin: 15px;
}

.details {
    display: inline-block;
    text-align: left;
}

.details p {
    margin-bottom: 30px;
}

.addition {
    font-size: 0.95em;
}

footer {
    background-color: #d7d7d7;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
}

footer p {
    margin: 10px;
    background-color: #d7d7d7;
}