
.today-weather-info-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.weather-info {
    display: inline-block;
    text-align: left;
    margin: 20px;
}

.weather-info:first-child {
    flex-basis: 40%;
}

.weather-info p {
    font-weight: lighter;
    font-size: 2em;
    margin: 20px;
}

.weather-abbreviation {
    display: flex;
    align-items: center;
    margin: 20px;
}

#current-temperature {
    display: inline-block;
}

.graph-signatures {
    display: flex;
    justify-content: center;
}

.week-forecast {
    display: flex;   
    justify-content: center;
    flex-wrap: wrap;
}

.week-forecast .item {
    display: flex;
    flex-direction: column;
    color: #bbbbbb;

}

.item {
    display: flex;
    flex-direction: column;
    width: 85px;
    font-weight: bolder;
    margin: 5px 15px;
}

.item p {
    margin: 15px 5px;
}

.precipitation .item {
    width: 120px;
    margin: 0;
    color: #257feb;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.wind .item img {
    width: 50%;
}



figure {
    display: inline-block;
}




.info:nth-child(2) {
    width: 55%;
}

.info:first-child {
    width: 35%;
}



.info #current-temperature {
    display: inline-block;
}

.graph-controller {
    display: inline-block;
    text-align: left;
    margin: 20px;
}

.graph-controller .menu-link {
    padding: 0px 15px;
    margin: 5px 5px;
    border: 1px solid #979797;
    font-size: 1em;
    max-width: 150px;
    height: 35px;
    text-align: center;
}

.menu-link a {
    color: black;
    text-decoration: none;
}





.max {
    color: #878787;
}

.today-selected {
    background-color: #fcfcfc;
    border: 1px #e9e9e9 solid;
}

.temperature {
    /* border-bottom: 0.5px black solid; */
    margin-top: 30px;
}

.tempemperature .item {
    border-bottom: 0;
    margin-bottom: 0px;
}

.temperature .column {
    background-color: #d9d9d9;
    height: 50px;
    width: 20px;
    display: block;
    margin-left: 33px;
}

.temperature .above-zero {
    border-bottom: 0.5px black solid;
}

.precipitation {
    margin-top: 30px;
}

.precipitation .item p,
.temperature .item p {
    margin-top: 0;
    margin-bottom: 0;
}

.precipitation .column {
    content: "";
    background-color: #e8f1fc;
    height: 50px;
    width: 120px;
    display: block;
    border-top: 2px solid #257feb;
    margin: 0;
}

.air-pollution {
    display: inline-block;
    width: 65%;
}

.search-field {
    display: inline-block;
    width: 25%;
}
.graph {
    display: none;
}
.shown {
    display: flex;
    justify-content: center;
}

