* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    max-width: 1040px;
    margin: 0px auto;
    /* border: 2px solid #979797;   */
    font-size: 16px;
}

.overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000a1;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.spinner-dot {
    width: 25px;
    height: 25px;
    margin: 1%;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 20px white;
}

.spinner-dot.first {
    animation: .5s bounce1 infinite linear alternate;
}

.spinner-dot.second {
    animation: 1s bounce2 infinite linear;
}

.spinner-dot.third {
    animation: .5s bounce3 infinite linear alternate;
}

@keyframes bounce1 {
    0% { transform: translate(0, 0) }
    100% { transform: translate(0, 100%) }
}

@keyframes bounce3 {
    0% { transform: translate(0, 100%) }
    100% { transform: translate(0, 0) }
}

@keyframes bounce2 {
    0% { transform: translate(0, 50%) }
    25% { transform: translate(0, 100%)}
    50% { transform: translate(0, 50%) }
    75% {transform: translate(0, 0)}
    100% { transform: translate(0, 50%) }
}

header ul {
    display: flex;
    height: 45px;
    background-color: #d9d9d9;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap
}

.menu-link {
    padding: 5px 15px;
    margin: 5px 15px;
    background-color: #f7f8f8;
    display: inline-block;
    border: 1px solid #979797;
    cursor: pointer;
}

.menu-link a {
    color: black;
    text-decoration: none;
}

.selected {
    background-color: #9c9c9c;
}

.search-row {
    background-color: #f2f3f2;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 45px;
    padding: 0 3%;
}

.current-location {
    display: flex;
    align-items: center;
}

#search-field {
    height: 28px;
    font-size: 1em;    
    width: 350px;
    border-radius: 5px;
    padding-left: 25px;
    background: #e5e5e5 url("../assets/magnifier.png") no-repeat 0 center;
}

#search-field:focus {
    color: #000;
    background-color: #fff;
    cursor: auto;
}

main {
    margin-top: 25px;
}

footer {
    width: 100%;
    background-color: #d7d7d7;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    vertical-align: middle;
    bottom: 0px;
}

footer p {
    background-color: #d7d7d7;
    margin: 10px;
}


@media screen and (max-width: 767px) {
    html {
        font-size: 14px;
    }

    #search-field {
        width: 26px;
	    color: transparent;
        cursor: pointer;
        z-index: 9;
    }

    #search-field:focus {
        width: 94%;
        z-index: 9;
        position: absolute;
        right: 3%;
        top: 57px;
    }

    footer {
        position: fixed;
    }

    header {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0;
        z-index: 6;;
    }

    main {
        position: relative;
        top: 92px;
        bottom: -38px;
    }
}

@media screen and (max-width:400px) {
    header .menu-link {
        margin: 5px auto;
    }    
}