* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    max-width: 1040px;
    margin: 0px auto;
    border: 2px solid #979797;  
    font-size: 16px;
}

header ul {
    display: flex;
    height: 45px;
    background-color: #d9d9d9;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap
}

.menu-link {
    padding: 5px 15px;
    margin: 5px 15px;
    background-color: #f7f8f8;
    display: inline-block;
    border: 1px solid #979797;
}

.menu-link a {
    color: black;
    text-decoration: none;
}

.selected {
    background-color: #9c9c9c;
}

.search-row {
    background-color: #f2f3f2;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 0 15px;
}

.current-location {
    display: flex;
    align-items: center;
}

/* .magnifier {
    background-image: url("../assets/magnifier.png");
    width: 22px;
    display: inline-block;
} */

#search-field {
    height: 26px;
    font-size: 1em;    
    border-radius: 5px;
    background-color: #e5e5e5;
}

footer {
    width: 100%;
    background-color: #d7d7d7;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    vertical-align: middle;
    bottom: 0px;
}

footer p {
    background-color: #d7d7d7;
    margin: 10px;
}

@media screen and (max-width: 767px) {
    html {
        font-size: 14px;
    }

    /* .search-row {
        flex-direction: column;
        height: 90px;
        align-items: flex-start;
        justify-content: space-around;
        padding: 0 2%;
    } */
}

@media screen and (max-width:400px) {
    header .menu-link {
        margin: 5px auto;
    }    
}