
h1 {
    font-weight: 100;
    font-size: 2em;
}

.main-info {
    display: inline-block;
    width: 45%;
    text-align: left;
}

.current-temperature,
.buttons {
    display: inline-block;
    width: 45%;
    text-align: left;
}


button {
    padding: 0px 15px;
    margin: 5px 5px;
    background-color: #f7f8f8;
    display: inline-block;
    border: 1px solid #979797;
    font-size: 1em;
    max-width: 150px;
    height: 50px;
    vertical-align: middle;
}

.item {
    display: inline-block;
    width: 120px;
}

.temperature {
    display: inline-block;
}

.air-pollution {
    display: inline-block;
    width: 65%;
}

.search-field {
    display: inline-block;
    width: 25%;
}